body
{
    background-color: #343d46;
    color: white;
}

@media (max-aspect-ratio: 1/1) 
{
    h1
    {
        position: top;
        top: 200px;
        left: 200px;
    }
}

@media (min-width:600px)
{
    body
    {
        background-color: #4449A6;
    }
}

@media (min-width:1000px)
{
    body
    {
        background-color: #73573F;
    }
}