/* this is a wss style */
h3 
{
    color: #474A51;
    background-color: #cffffc;
}

span
{
    color: #ffff00;
    background-color: #cfcfcf;
    font-weight: bold;
}

body
{
    background-color: #474A51;
    color: whitesmoke;
}
