body
{
    background-color: #AABBCC;
}
p
{
    color: #FF0000;
    background-color: yellow;
    opacity: 0.5;
    width: 50vw;
    border: 1px;
    font-family: sans-serif;
    padding: 20px;
    margin: 0 auto;
}